.fdc {
    display: flex;
    flex-direction: column;
}

.fdr {
    display: flex;
    flex-direction: row;
}

.jcc {
    display: flex;
    justify-content: center;
}

.jsr {
    justify-self: flex-end;
}

.fb50 {
    flex-basis: 50%;
}

.aic {
    display: flex;
    align-items: center;
}

.asc {
    align-self: center;
}

.asr {
    align-self: flex-end;
}

.acc {
    align-content: center;
}

.flr {
    float: right;
}

.mb2 {
    margin-bottom: 2em;
}

.mt2 {
    margin-top: 2em;
}

.mt0 {
    margin-top: 0;
}

.m2 {
    margin: 2em;
}

.tar {
    text-align: right;
}

.dib {
    display: inline-block;
}