.fdc {
    display: flex;
    flex-direction: column;
}

.jcc {
    display: flex;
    justify-content: center;
}

.aic {
    display: flex;
    align-items: center;
}

.asc {
    align-self: center;
}

.asr {
    align-self: flex-end;
}

.flr {
    float: right;
}

.mb2 {
    margin-bottom: 2em;
}

