.red {
    color: red;
}

.purple {
    color: #8F00FF;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.brown {
    color: brown;
}

.bg-white {
    background-color: white;
}

.bcg {
    background-color: whitesmoke;
}