#juegos {
    h2 {
        width: 30%;
        background-color: whitesmoke;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        height: 3rem;
        margin-bottom: 0;
        text-align: center;
        padding-top: 2rem;
    }
    div {
        width: 70%;
        background-color: whitesmoke;
        border-radius: 100px;
        text-align: center;
        height: 600px;
        padding: 10px;
    }
}