#login {
    background-color: white;
    width: 30%;
    padding: 50px;
    box-shadow: 0px 0px 10px;


    h2 {
        color: red;
        margin-top: 0;
    }
}

#contLogin {
    background-image: url('/img/fondoLogin.gif'); 
    background-size: cover;
}