#registro {
    width: 30%;
    padding: 3em;
    box-shadow: 0px 0px 10px;
    h2 {
        margin-top: 0;
        font-size: 3em;
    }
}

#contRegistro {
    background-image: url('/img/fondoLogin.gif'); 
    background-size: cover;
    background-attachment: fixed;
}

#atras {
    font-size: x-large;
    
}