@import './alineaciones.scss';
@import './colores.scss';
@import './tamanos.scss';
@import './modal.scss';

#root {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
}

.labelEntradas {
    font-size: 1.5em;
    font-weight: bold;
}

.bolder {
    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
}