@import './alineaciones.scss';
@import './colores.scss';
@import './tamanos.scss';
@import './modal.scss';

#root {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    margin: 0;
    background-image: url('/img/fondo_web.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

.labelEntradas {
    font-size: 1.5em;
    font-weight: bold;
}

.bolder {
    font-weight: bold;
}

.pointer:hover {
    cursor: pointer;
}

.tituloPagina {
    border-radius: 100px;
    background-color: rgb(151, 255, 246);
    padding: 15px;
    color: blue;
}

footer {
    height: 10vh;
    position: relative;
    bottom: 0;
    background-color: rgba(240, 248, 255, 0.555);

    #separador {
        border: 1px solid lightgrey;
        height: 90%;
    }
}